<h3>{{deliveryman}}, your delivery {{id}} has been canceled.</h3>

You had a delivery canceled for the following reason: <br />
<br />
- {{description}} <br />
<br />
Cancelation date: {{date}} <br />
<small>
  You can make a new delivery today!
</small>
